$topic: #99870a

#head
  position: absolute
  height: 10rem
  left: 0
  right: 0
  margin: 0 auto
  width: 80%
  border-bottom: 1px solid $topic
  #title
    position: absolute
    bottom: 1rem
    left: 1rem
    font-size: 3rem
    color: $topic
    text-decoration: none
  #nav
    position: absolute
    right: 1rem
    bottom: 1rem
    a
      font-size: 1rem
      color: black
    #search
      display: inline
      margin-left: 1rem
    [class*='nav-']
      font-size: 1rem
      margin-left: 1.5rem
    .nav-login
      margin-right: 1rem

.active
  color: $topic !important